body {
  background-color: #ffffff;
  max-width: 100vw;
  overflow-x: hidden;
}

.first-wrapper {
  height: 960;
}

.nav-center {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 18px;
  color: #656565;
  letter-spacing: 1px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.notes img {
  display: inline-block;
}

.text-wrapper-h1 {
  font-size: 64px;
  font-family: 'Oswald', sans-serif;
  color: #231f20;
}

.text-wrapper-p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #656565;
}

.price {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  color: #ff9300;
}

.btn {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.second-wrapper {
  height: 885;
  position: relative;
  background-image: url(./images/Mask\ Group\ 7.png);
}

.sw-heading {
  width: 606px;
  height: 61px;
}

.text-list {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #000000;
  padding-left: 40px;
}

.rectangle {
  width: 606px;
  height: 1px;
  background-color: #656565;
}

.sw-text {
  color: #656565;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.third-wrapper {
  height: 887;
  position: relative;
  background-image: url(./images/Mask\ Group\ 13.png);
}

.tw-text-h1 {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

.tw-text-p {
  color: #656565;
  font-size: 18px;
  font-family: 'Roboto';
}

.fourth-wrapper {
  overflow-y: none;
  height: 1010;
  position: relative;
  background-color: #ebeff7;
}

.fw-txt-wrapper h1 {
  font-size: 50px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.fw-txt-wrapper p {
  font-size: 18px;
  color: #656565;
  font-family: 'Roboto', sans-serif;
}

.img-1 {
  font-size: 36px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.img-2 {
  font-size: 36px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.img-3 {
  font-size: 36px;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.img-4 {
  font-size: 36px;
  color: black;
  font-family: 'Oswald', sans-serif;
}
.img-1 span {
  color: #ff9300;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.img-2 span {
  color: #ff9300;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.img-3 span {
  color: #ff9300;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.img-4 span {
  color: #ff9300;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.fifth-wrapper {
  height: 1304;
  background-color: #dfe3eb;
}

.tw-notes {
  margin-right: 675px;
}

.fw-form {
  color: #656565;
  font-family: 'Roboto', sans-serif;
}

.fw-form input {
  border: 1px solid;
  border-color: #939fb8;
  background-color: #dfe3eb;
  border-radius: 4px;
}

.sixth-wrapper {
  height: 470;
  background-color: #ebeff7;
}

.sw-fl {
  font-family: 'Roboto', sans-serif;
  color: #656565;
  font-family: 18px;
}

.pozovi {
  font-size: 12px;
}

.sw-fr {
  font-family: 'Roboto', sans-serif;
  color: #656565;
  font-family: 18px;
}

.tribute {
  font-style: 'Roboto', sans-serif;
  font-size: 18px;
  color: #656565;
  background-color: #dfe3eb;
}
